@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.woff) format("woff");
    src: url(../fonts/Poppins-Regular.woff2) format("woff2");
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}