body{
    font-family: poppins;
    overflow-x: hidden;
}
/* header */
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'logo nav btn';
    padding: 42px 140px;
}
.header-nav{
    grid-area: nav;
    margin: auto;
}
header a img{
    grid-area: logo;
}
.header-nav ul{
    display: flex;
    align-items: center;
    gap: 48px;
}
li a{
    font-family: poppins;
    font-size: 14px;
    color: #000000E5;
}
li a:hover{
    border-bottom: 1px solid #29B24E;
    padding-bottom: 9px;
}
.header-btn{
    padding: 13px 26px;
    background-color: #29B24E;
    color: #FFFFFF;
    font-family: poppins;
    font-size: 14px;
    border-radius: 12px;
    border: none;
    grid-area: btn;
    margin-left: auto;
}
.header-btn:hover{
    box-shadow: 0px 0px 30px #888888;
}
.hiding{
    display: none;
}
/* header end */
/* main section */
.main-sec{
    padding: 0px 140px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
form{
    padding: 32px 38px 32px;
    max-width: 395px;
    width: 100%;
    background-color: #F8F8F8;
    border-radius: 24px;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
}
.main-sec h2{
    font-size: 16px;
    color: #000000;
    margin-bottom: 13px;
}
label h2{
    margin-bottom: 16px;
}
.dropdown{
    border: 1px solid rgba(13, 156, 164, 0.21);
    border-radius: 10px;
    max-width: 331px;
    padding: 13px 21px 14px 18px;
    margin-bottom: 32px;
}
#cities{
    background: #F8F8F8;
    border: none;
    font-size: 14px;
    width: 100%;
}
form label{
    color: #000000;
    font-size: 14px;
}
form span{
    color: #00000080;
    font-size: 14px;
}
.property{
    margin-bottom: 39px;
}
.property, .price-range{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li input{
    accent-color: green;
}
.searching-side{
    max-width: 1225px;
    width: 100%;
    padding: 60px;
    background-image: url('../images/Rectangle\ 400.png');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
}
h1{
    margin-bottom: 10px;
    font-size: 48px;
    color: #000000CC;
}
.searching-side span{
    margin-bottom: 40px;
    color: #000000CC;
    font-size: 16px;
}
.searching-side input{
    background: none;
    border: none;
    outline: transparent;
}
.search-ico:hover{
    cursor: pointer;
}
.searching-side div{
    background-color: #F8F8F8CC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 19px 14px 24px;
    max-width: 324px;
    width: 100%;
}
/* main section end */
/* second section */
.trending{
    width: 100%;
    padding: 0px 140px;
    margin-top: 72px;
    margin-bottom: 120px;
}
.trending h2{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}
.big-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.big-container a{
    max-width: 395px;
    width: 100%;
    border-radius: 24px;
}
.big-container a:hover{
    box-shadow: 0px 4px 18px rgba(67, 64, 64, 0.389);
}
.container{
    background: #F8F8F8;
    box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
    border-radius: 24px;
    width: 100%;
    height: 424px;
    padding: 16px 0px;
}
.cont-img-span{
    font-size: 12px;
    color: #FFFFFF;
    padding: 6px 11px;
    background-color: #29B24E;
    border-radius: 15px;
    position: absolute;
    top: 12px;
    left: 12px;
}
.cont-img-ico{
    position: absolute;
    bottom: -20px;
    right: 4px;
    background-color: #FFFFFF;
    box-shadow: -2px 4px 20px rgba(109, 109, 109, 0.25);
    padding: 11px;
    border-radius: 50%;
}
.back-img{
    width: 100%;
    height: 100%;
}
.box{
    max-width: 363px;
    height: 202px;
    margin: 0px 16px;
    position: relative;
}
.info{
    margin-top: 16px;
    margin-bottom: 15px;
    color: #000000;
    font-size: 16px;
    margin-left: 20px;
}
.info-city{
    display: block;
    margin-top: 8px;
    color: #000000;
    font-size: 14px;
    opacity: 0.5;
}
.price{
    display: flex;
    justify-content: end;
    align-items: center;
    color: #29B24E;
    font-size: 24px;
    margin-bottom: 16px;
    margin-right: 13px;
}
.price-range{
    color: #000000;
    font-size: 14px;
}
.more-info{
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    border-top: 1px solid rgba(207, 234, 214, 1);
    font-size: 14px;
    color: #000000;
}
/* second section end */
/* internal section */
.internal-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding: 0px 140px;
}
.internal-sec-img{
    max-width: 810px;
    width: 100%;
    max-height: 732px;
    height: 100%;
    border-radius: 20px;
}
.internal-sec-img img{
    width: 100%;
    border-radius: 20px;
}
.internal-sec-info{
    max-width: 786px;
    width: 100%;
    background: #F8F8F8;
    box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
    border-radius: 24px;
}
.internal-sec-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0px 40px;
}
.vip{
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 11px;
    background-color: #29B24E;
    border-radius: 15px;
}
.posted{
    color: #000000;
    opacity: 0.6;
    font-size: 12px;
    margin-top: 2px;
}
.viewers{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 2px;
}
.viewers span{
    color: #000000;
    font-size: 12px;
    opacity: 0.6;
}
.title-info{
    padding: 0px 0px 40px 40px;
}
.internal-h1{
    margin: 24px 0px 12px 0px;
    font-size: 22px;
    color: #000000;
    opacity: 0.9;
}
.title-info span{
    color: #000000;
    font-size: 14px;
    opacity: 0.6;
}
.title-info p{
    color: #000000;
    opacity: 0.8;
    font-size: 14px;
    margin: 32px;
}
.rooms{
    color: #000000;
    font-size: 14px;
    opacity: 0.8;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.conditions{
    padding: 24px 40px 8px 40px;
    display: flex;
    justify-content: space-between;
}
.mid-con{
    max-width: 133px;
}
.con-box{
    display: flex;
    flex-direction: column;
}
.con-box div{
    display: flex;
    flex-direction: column;
}
.normal-con{
    color: #000000;
    opacity: 0.6;
    font-size: 12px;
    margin-bottom: 4px;
}
.bold-con{
    color: #000000;
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 26px;
}
.price-box{
    padding: 24px 40px 24px 94px;
    border-top: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-box div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.price-tag{
    font-size: 36px;
    line-height: 54px;
    color: #29B24E;
}
.per-month{
    font-size: 18px;
    color: #000000;
}
.send-sms{
    color: #29B24E;
    padding: 13px 26px;
    border: 1px solid #29B24E;
    border-radius: 12px;
    font-size: 14px;
    line-height: 21px;
    background: none;
}
.gap{
    gap: 16px;
}
.send-sms:hover{
    cursor: pointer;
    box-shadow: 0px 0px 30px #888888a1;
}
.call:hover{
    box-shadow: 0px 0px 30px #888888a1;
}
.call{
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 13px 26px;
    background: #29B24E;
    border-radius: 12px;
}
/* internal section */
/* footer */
footer{
    background-color: rgba(41, 178, 78, 1);
    border-radius: 25px;
    padding: 32px 140px 40px 140px;
}
footer a{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left, .footer-right{
    display: flex;
    align-items: center;
    gap: 48px;
}
footer span{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid rgba(208, 208, 208, 1);
}
footer a:hover{
    color: #ffffffaa;
}
/* footer end */
/* media */
@media screen and (min-width: 1024px) and (max-width: 1300px){
    .internal-sec{
        flex-wrap: wrap;
    }
    .footer-left, .footer-right{
        gap: 24px;
    }
    footer{
        padding: 32px 40px 40px 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* header */
    header{
        padding: 40px 28px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-btn{
        display: none;
    }
    .find-ico{
        display: block;
        background-color: #F8F8F8;
        border-radius: 50%;
        padding: 14.5px 15.25px 10px 14.5px;
    }
    /* section one*/
    .main-sec{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .searching-side{
        height: 435px;
        padding-top: 60px;
        background-position: center;
    }
    h1{
        font-size: 24px;
    }
    .searching-side span{
        font-size: 14px;
    }
    .searching-side div{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }
    /* section two */
    .trending{
        margin-bottom: 50px;
    }
    .big-container a{
        max-width: 335px;
    }
    .info{
        font-size: 14px;
    }
    .box{
        max-width: 303px;
    }
    .info-city, .more-info{
        font-size: 12px;
    }
    .trending{
        padding: 0px 20px;
    }
    /* internal page */
    .internal-sec{
        flex-wrap: wrap;
    }
    .internal-sec{
        padding: 0px;
        padding-top: 20px;
    }
    .internal-sec-img{
        margin-left: 20px;
        margin-right: 20px;
    }
    /* footer */
    footer{
        padding: 40px 40px;
        margin-bottom: 84px;
    }
    .footer{
        font-size: 16px;
    }
    .mailto{
        display: none;
    }
    .footer-right{
        gap: 24px;
    }
    .footer-left{
        gap: 24px;
    }
    footer span{
        margin-top: 40px;
    }
    /* bottom nav */
    .bottom-nav{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 15px 6px 15px;
        background-color: #FFFFFF;
        border-radius: 24px 24px 0px 0px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    }
    .bottom-nav a{
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        color: #000000CC;
        font-size: 11px;
    }
    .sell{
        margin-top: -12px;
        max-width: 56px;
    }
    .sell-ico{
        max-width: 56px;
        width: 100%;
        padding: 12px;
        background-color: #29B24E;
        border-radius: 12px;
    }
    .other-ico{
        max-width: 24px;
        width: 100%;
        margin-top: 14px;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px){
     /* header */
    header{
        padding: 40px 28px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-btn{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .find-ico{
        display: block;
        background-color: #F8F8F8;
        border-radius: 50%;
        padding: 14.5px 15.25px 10px 14.5px;
    }
    /* section one */
    .main-sec{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }
    .searching-side{
        margin: auto;
        width: 90%;
        height: 435px;
        padding: 32px 20px;
        background-position: center;
    }
    h1{
        font-size: 24px;
        text-align: center;
    }
    .searching-side span{
        font-size: 14px;
    }
    .searching-side div{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    /* section two */
    .trending{
        margin-bottom: 50px;
    }
    .big-container a{
        max-width: 335px;
    }
    .info{
        font-size: 14px;
    }
    .box{
        max-width: 303px;
    }
    .info-city, .more-info{
        font-size: 12px;
    }
    .trending{
        padding: 0px 20px;
    }
    /* internal page */
    .internal-sec{
        padding: 0%;
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .internal-sec-img{
        margin-left: 20px;
        margin-right: 20px;
    }
    .internal-sec-top{
        padding: 10px 20px 0px 20px;
    }
    .title-info{
        padding: 0px 20px 24px 20px;
    }
    .title-info p{
        margin: 0px;
    }
    .internal-h1{
        font-size: 18px;
    }
    .title-info span{
        font-size: 12px;
    }
    .title-info p{
        font-size: 12px;
    }
    .rooms{
        padding: 16px 20px;
        /* gap: 0px; */
        justify-content: center;
        flex-wrap: wrap;
    }
    .conditions{
        flex-direction: column;
        padding: 16px 20px;
    }
    .con-box div, .mid-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bold-con, .normal-con{
        margin-bottom: 12px;
    }
    .price-box{
        padding: 16px 20px 45px 20px;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
    .pricing-box{
        margin-left: 31px;
    }
    .gap{
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
    .price-tag{
        font-size: 24px;
    }
    .per-month{
        font-size: 10px;
    }
    .call, .send-sms{
        width: 100%;
        text-align: center;
    }
    .hide{
        display: none;
    }
    .internal-ads{
        margin-top: 40px;
    }
    .trending h2{
        margin-bottom: 16px;
    }
    /* footer */
    footer{
        padding: 40px 20px;
        margin-bottom: 84px;
    }
    .footer{
        font-size: 16px;
    }
    .mailto{
        display: none;
    }
    .footer-right{
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
    }
    .footer-left{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    footer span{
        margin-top: 40px;
    }
    /* bottom nav */
    .bottom-nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 6px 15px;
        background-color: #FFFFFF;
        border-radius: 24px 24px 0px 0px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    }
    .bottom-nav a{
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        color: #000000CC;
        font-size: 11px;
    }
    .sell{
        margin-top: -12px;
        max-width: 56px;
    }
    .sell-ico{
        max-width: 56px;
        width: 100%;
        /* height: 64px; */
        padding: 12px;
        background-color: #29B24E;
        border-radius: 12px;
    }
    .other-ico{
        max-width: 24px;
        width: 100%;
        margin-top: 14px;
    }
}
/* media end */