body{
    font-family: poppins;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 140px;
}
.header-nav ul{
    display: flex;
    align-items: center;
    gap: 48px;
}
li a{
    font-family: poppins;
    font-size: 14px;
    color: #000000E5;
}
li a:hover{
    border-bottom: 1px solid #29B24E;
    padding-bottom: 9px;
}
.header-btn{
    padding: 13px 26px;
    background-color: #29B24E;
    color: #FFFFFF;
    font-family: poppins;
    font-size: 14px;
    border-radius: 12px;
    border: none;
}
.header-btn:hover{
    box-shadow: 0px 0px 30px #888888;
}
.hiding{
    display: none;
}
/* header end */

/* main section */

.main-sec{
    padding: 0px 140px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
form{
    padding: 32px 38px 32px;
    max-width: 395px;
    width: 100%;
    background-color: #F8F8F8;
    border-radius: 24px;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.31);
}
.main-sec h2{
    font-size: 16px;
    color: #000000;
    margin-bottom: 13px;
}
label h2{
    margin-bottom: 16px;

}
#cities{
    margin-bottom: 32px;
    background: #F8F8F8;
    border: 1px solid rgba(13, 156, 164, 0.21);
    border-radius: 10px;
    font-size: 14px;
    max-width: 331px;
    width: 100%;
    padding: 13px 21px 14px 18px;

}
form label{
    color: #000000;
    font-size: 14px;
}
form span{
    color: #00000080;
    font-size: 14px;
}
.property{
    margin-bottom: 39px;
}
.property, .price-range{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li input{
    accent-color: green;

}
.searching-side{
    max-width: 1225px;
    width: 100%;
    padding: 60px;
    background-image: url('../images/Rectangle\ 400.png');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
}
h1{
    margin-bottom: 10px;
    font-size: 48px;
    color: #000000CC;
}
.searching-side span{
    margin-bottom: 40px;
    color: #000000CC;
    font-size: 16px;
}
.searching-side input{
    background: none;
    border: none;
    outline: transparent;
}
.search-ico:hover{
    cursor: pointer;
}
.searching-side div{
    background-color: #F8F8F8CC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 19px 14px 24px;
    max-width: 324px;
    width: 100%;
}
/* main section end */

/* second section */
.trending{
    width: 100%;
    padding: 0px 140px;
    margin-top: 72px;
    margin-bottom: 120px;
}
.trending h2{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}
.big-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.big-container a{
    max-width: 395px;
    width: 100%;
    border-radius: 24px;
}
.big-container a:hover{
    box-shadow: 0px 4px 18px rgba(67, 64, 64, 0.389);
}
.container{
    background: #F8F8F8;
    box-shadow: 0px 4px 18px rgba(194, 194, 194, 0.3);
    border-radius: 24px;
    width: 100%;
    height: 424px;
    padding: 16px 0px;
}
.cont-img-span{
    font-size: 12px;
    color: #FFFFFF;
    padding: 6px 11px;
    background-color: #29B24E;
    border-radius: 15px;
}
.cont-img-ico{
    position: absolute;
    bottom: -20px;
    right: 4px;
    background-color: #FFFFFF;
    box-shadow: -2px 4px 20px rgba(109, 109, 109, 0.25);
    padding: 11px;
    border-radius: 50%;
}
.first{
    background-image: url(../images/Rectangle\ 541.png);
}
.second{
    background-image: url(../images/Rectangle\ 425.png);
}
.third{
    background-image: url(../images/Rectangle\ 431.png);
}
.fourth{
    background-image: url(../images/Rectangle\ 428.png);
}
.box{
    max-width: 363px;
    height: 202px;
    margin: auto;
    padding-top: 12px;
    padding-left: 12px;
    position: relative;
    background-size: 363px 202px;
}
.info{
    margin-top: 16px;
    margin-bottom: 15px;
    color: #000000;
    font-size: 16px;
    margin-left: 20px;
}
.info-city{
    display: block;
    margin-top: 8px;
    color: #000000;
    font-size: 14px;
    opacity: 0.5;
}
.price{
    display: flex;
    justify-content: end;
    align-items: center;
    color: #29B24E;
    font-size: 24px;
    margin-bottom: 16px;
    margin-right: 13px;
}
.price-range{
    color: #000000;
    font-size: 14px;
}
.more-info{
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    border-top: 1px solid rgba(207, 234, 214, 1);
    font-size: 14px;
    color: #000000;
}


/* second section end */

/* media */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* header */
    header{
        padding: 40px 28px 20px;
    }
    .header-btn{
        display: none;
    }
    .find-ico{
        display: block;
        background-color: #F8F8F8;
        border-radius: 50%;
        padding: 14.5px 15.25px 10px 14.5px;
    }

    /* section one*/
    .main-sec{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .searching-side{
        height: 435px;
        padding-top: 60px;
        background-position: center;
    }
    h1{
        font-size: 24px;
    }
    .searching-side span{
        font-size: 14px;
    }
    .searching-side div{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }

    /* section two */

}
@media screen and (min-width: 200px) and (max-width: 768px){
     /* header */
    header{
        padding: 40px 28px 20px;
    }
    .header-btn{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .find-ico{
        display: block;
        background-color: #F8F8F8;
        border-radius: 50%;
        padding: 14.5px 15.25px 10px 14.5px;
    }

    /* section one */
    .main-sec{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }
    .searching-side{
        margin: auto;
        width: 90%;
        height: 435px;
        padding: 32px 20px;
        background-position: center;
    }
    h1{
        font-size: 24px;
        text-align: center;
    }
    .searching-side span{
        font-size: 14px;
    }
    .searching-side div{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }

    /* section two */

}
/* media end */